*{margin:0; padding:0;}
html{height: 100%;}
body{
    background:url(mbg.jpg) no-repeat top center;
    background-size:100% auto;
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}
.action{
    width: 100%;
    position: fixed;
    bottom: 14%;
    left: 0;
}
.action input{background-color:#fff; font-size: 22px; margin-bottom: 5px;
    width: 100%;
    height: 42px;
    border: 0;
    padding: 0 5px;
    box-sizing: border-box;}
.action button{ display: block; width: 100%; height: 38px; background-color: #ffd219; font-size: 20px; border: 2px solid #C7A413}
.action p{text-align: center;font-size: 15px; font-weight: bold; color: #1d1d1d; text-shadow:1px 1px 0 #fff,-1px -1px 0 #fff,-1px 1px 0 #fff,1px -1px 0 #fff;}
.action p strong{color:#ee3614;}
.action .lu{text-align: center; font-size: 70px; color: #1d1d1d; vertical-align: middle;line-height: 1;}
.action .lu span{font-size: 16px;color: #ee3614; vertical-align: middle;}
